.navbarItems {
	display: flex;
	gap: 30px;
}

.linkItem {
	text-decoration: none;
}

li {
	list-style: none;
	color: gray;
	text-decoration: none;
}

@media (max-width: 600px) {
	.navbarItems {
		flex-direction: column;
	}
}
